{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h2>Nouvelle playlist :</h2>
    {% include 'pages/admin/admin.playlists.form.html.twig' %}
{% endblock %}

{% block title %}
    Ajout d'une playlist
{% endblock %}