{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h2>Détails formation :</h2>
    {% include 'pages/admin/admin.formations.form.html.twig' %}
{% endblock %}

{% block title %}
    Édition d'une formation
{% endblock %}